<div id="tracking-page" class="sections">
    <h1>Tracking <span><a class="back" href="/orders">Volver</a></span></h1>
    
    <div class="tracking-wrapper">
        <div class="list-header top-header green-background top-round-borders">
                <div class="top-heading full white-font-color">
                    Hace el seguimiento de tu producto: <b><%= product.name %></b>
                </div>
        </div>
        <div class="info-body grey-background bottom-round-borders">
            <div class="info">
                <h1>
                    ID: <%= product.id %>
                </h1>
                <div class="icons">
                    <img src="/images/svg/tracking/ready-to-ship-inactive.svg" alt="ready to ship icon">
                    <img src="/images/svg/tracking/dots.svg" alt="splitting dots"class="dots">
                    <img src="/images/svg/tracking/on-the-way-active.svg" alt="on the way icon">
                    <img src="/images/svg/tracking/dots.svg" alt="splitting dots" class="dots">
                    <img src="/images/svg/tracking/delivered-inactive.svg" alt="delivered icon">
                </div>
                <div class="status">
                    <h3>ESTADO:</h3>
                    <p class="status-description">Tu producto esta <%= product.status %> en este momento.
                        <br> 
                        Fue retirado del deposito el dia:
                        <br>
                        <span class="time"><%= product.time %></span>
                    </p>
                    <h3>DESTINO:</h3>
                    <span class="destination">
                        <%= product.destination %>.
                    </span>
                    <a href="<%= product.linkURL %>" target="_blank">
                        Ver mapa
                    </a>
                </div>
            </div>
            <div class="map">
                <img src="/images/tracking/map.png" alt="tracking map" class="responsive">
            </div>
        </div>
    </div>
</div>
<script>
    // Show header when view is tracking.
    document.getElementsByTagName('header')[0].classList.add('show');
</script>